<div class = "container-fluid">
    {{!--Map Location--}}
    <div class="row map-wrapper">
        <div id="map-location" class="col-sm-12 col-md-7 col-lg-9 stack"></div>
        <div id="side-bar" class="col-sm-12 col-md-5 col-lg-3 stack">
            {{!-- This side bar div will be populated dynamically. --}}
        </div>
        <div class="scroll-indicator center-contents-vert col-sm-12 col-md-5 col-lg-3">&xdtri;</div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 map-menu">
            <div class="btn-group map-buttons"  role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" id="add-location-btn" data-toggle="modal" data-target="add-location-modal">Add Location</button>
                <button type="button" class="btn btn-info">Build Trip</button>
                <button type="button" class="btn btn-primary" id="my-trips-btn" disabled>My Trips</button>
            </div>
            <div class="col-sm-7 offset-sm-3 scroll-top-wrapper">
                <button type="button" class="btn btn-success" id="chevron-icon"></button>
            </div>
        </div>
    </div>
    </div>
    {{!--Pop up to display location data--}}
    <div class="row locations-div">
        <div class="col-sm-12">
        </div>
    </div>
        {{!--Pop up to display trips data--}}
        <div class="row trips-div">
        <div class="col-sm-12">
        </div>
    </div>
</div>

{{!-- code for modal --}}
<div class="modal modal-fade" id="add-location-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Location</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Name</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="Latta Arcade" id="location-name-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-search-input" class="col-2 col-form-label">Address</label>
                    <div class="col-10">
                        <input class="form-control" type="search" value="130 N Tryon" id="address-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">City</label>
                    <div class="col-10">
                        <input class="form-control" type="email" value="Charlotte" id="city-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-url-input" class="col-2 col-form-label">State</label>
                    <div class="col-10">
                        <input class="form-control" type="url" value="NC" id="state-input">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-tel-input" class="col-2 col-form-label">Zip</label>
                    <div class="col-10">
                        <input class="form-control" type="tel" value="28202" id="zip-input">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submit-location">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> {{!-- end of modal --}}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByJcZ1QEqadlm9GhGA00nnGwpCI4D9-bk"async defer></script> 
<script type="text/javascript" src="/assets/js/main.js"></script>

