<div class="pad-sides">
	<h2 class="page-header">Account Login</h2>
	<form method="post" action="/user/login">
		<div class="form-group">
			<label for="inputUsername">Username</label>
			<input type="text" class="form-control" placeholder="Username" name="username" id="userName">
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input type="password" class="form-control" placeholder="Password" name="password" id="password">
		</div>
		<button type="submit" class="btn btn-default" id="login">Login</button>
	</form>
</div>

<script type="text/javascript" src="/assets/js/login.js"></script>
